@import "../variable.scss";

@mixin bkPattern {
    .bk-pattern {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: url(../../public/img/bg-pattern.png);
        background-color: $menuBackColor;
        background-position: 0px 0px;

        transition: all 1.1s 0.05s cubic-bezier(0.43, 0.195, 0.02, 1);
    }
}
