@import "../variable.scss";

@mixin dragBar {
    .drag-bar-contain {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100vw - 2 * $menuExpandPadding);
        height: 0;
        // @include red;
        z-index: 2;
        .drag-bar {
            transition: left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                transform 0.4s ease;

            --drag-px: 0px;
            left: var(--drag-px);

            display: flex;
            justify-content: space-between;

            position: absolute;
            width: 200px;
            height: 64px;
            top: calc(50vh - $menuExpandPadding);
            transform: translateY(-100%);
            background-color: $themeGreen;
            @include centering;
            border-radius: 3px;
            white-space: nowrap;
            cursor: pointer;
            user-select: none;

            color: white;
            // font-family: myRational;
            font-size: 1rem;
            font-weight: light;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            font-weight: lighter;

            // span {
            //     font-family: myRational;
            //     font-size: 1rem;
            // }
            .arr-left,
            .arr-right {
                position: absolute;
                font-size: 2rem;
                font-weight: lighter;
                // animation: name duration timing-function delay iteration-count
                // direction fill-mode;
                animation: 0.7s infinite ease-in-out;
            }
            .arr-left {
                left: 8px;
                animation-name: arrLeft;
                animation-direction: alternate;
            }
            .arr-right {
                right: 8px;
                animation-name: arrRight;
                animation-direction: alternate;
            }
        }

        .drag-bar.hide {
            top: 50vh;
            transform: translateY(100%);
        }
    }
    @keyframes arrLeft {
        from {
            translate: -10px;
        }
        to {
            translate: 0px;
        }
    }
    @keyframes arrRight {
        from {
            translate: 10px;
        }
        to {
            translate: 0px;
        }
    }
}
