@import "../variable.scss";
@import "./oneMenu.scss";
@import "../Global/progress-bar.scss";
@import "./dragBar.scss";
// @mixin getClip($bigScreen: 1) {
//     @if $bigScreen == 1 {
//         clip: rect(90px, calc(100vw - 90px), calc(100vh - 90px), 90px);
//     } @else {
//         clip: rect(30px, calc(100vw - 30px), calc(100vh - 30px), 30px);
//     }
// }

@mixin menuContain {
    .overflow-contain {
        position: absolute;
        width: 100vw;
        height: 100vh;
        @include dragBar;
    }

    #menu-contain-2 {
        position: absolute;
        // position: relative;
        z-index: 0;
        width: 100vw;
        height: 100vh;
        // max-width: calc(100vw - 180px);
        // max-height: calc(100vh - 180px);

        transition: all 1.15s cubic-bezier(0.43, 0.195, 0.02, 1);
        clip: rect(90px, calc(100vw - 90px), calc(100vh - 90px), 90px);
        @media screen and (max-width: $breakPoint) {
            clip: rect(30px, calc(100vw - 30px), calc(100vh - 30px), 30px);
        }
        // --big-screen: 1;
        // @include getClip(var(--big-screen));
        // border: 4px dashed burlywood;

        display: flex;
        flex-direction: column;
        // overflow: scroll;

        @include oneMenu;
        @include progressBar;

        .menu-contain-3 {
            // 这个 container，height 是 100vh，纯粹是为了装下所有的 one-menu，为了 overflow:scroll
            position: absolute;
            width: 100%;
            height: 100%;
            // @include centering;
            // overflow: scroll;
        }
        .menu-contain-4 {
            // 这里没有 height 是因为，里面装了很多 one-menu , 每个 one-menu 的 height 都是 100vh，
            // 所以，这里的 height 就 fit content 就行了
            transform: var(--contain4-px);
            position: relative;
            width: 100%;

            transition: all 1s 0.1s cubic-bezier(0.43, 0.195, 0.02, 1);
            // transition: all 1s 0s ease;

            border: 3px dashed brown;

            // transform: translateY(-400px);
            // transform: translateY(0px);
        }
        .menu-contain-4.drag {
            transition: all 0.5s 0s ease;
        }
        .one-menu {
            position: relative;
            width: 100vw;
            height: 100vh;
        }
    }

    #menu-contain-2.expand {
        clip: rect(
            $menuExpandPadding,
            calc(100vw - $menuExpandPadding),
            calc(100vh - $menuExpandPadding),
            $menuExpandPadding
        );
        // max-width: calc(100vw - 2 * $pad);
        // max-height: calc(100vh - 2 * $pad);

        .description-contain.expand {
            margin-top: max(120px, 30%);
            opacity: 1;
        }
    }
}
