@import "../variable.scss";
@import "./oneMenu.scss";

@mixin menuContain {
    #menu-contain-2 {
        position: absolute;
        // position: relative;
        z-index: 0;
        width: 100vw;
        height: 100vh;
        // max-width: calc(100vw - 180px);
        // max-height: calc(100vh - 180px);

        transition: all 0.8s cubic-bezier(0.43, 0.195, 0.02, 1);
        clip: rect(90px, calc(100vw - 90px), calc(100vh - 90px), 90px);
        // clip: rect(0px, calc(100vw - 90px), 100vh, 90px);

        // border: 4px dashed burlywood;

        // background-image: url(../../public/img/bg-pattern.png);
        // background-color: rgb(243, 245, 239);
        // @include centering;
        display: flex;
        flex-direction: column;
        // overflow: scroll;

        @include oneMenu;
        .menu-contain-3 {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: scroll;
            transition: all 3s ease;
        }

        .one-menu {
            position: relative;
            width: 100%;
            height: 100%;
            flex-shrink: 0;
        }
    }

    #menu-contain-2.expand {
        $pad: 25px;
        clip: rect($pad, calc(100vw - $pad), calc(100vh - $pad), $pad);
        // max-width: calc(100vw - 2 * $pad);
        // max-height: calc(100vh - 2 * $pad);

        .description-contain.expand {
            margin-top: max(120px, 30%);
            opacity: 1;
        }
        .bg-img {
            .bottle {
                right: 35.4%;
                height: 75.5%;
            }
            .pattern {
                right: 37.2%;
                height: 96%;
            }
        }
    }
}
