@import "../variable.scss";

.diamond-btn {
    position: relative;
    z-index: 1;
    @include centering;
    transition: opacity 1.5s ease, transform 0.2s ease-out;
    // border: 1px solid orange;

    .hover-area {
        // border: 1px solid orange;
        position: absolute;
        z-index: inherit;
        width: 500%;
        height: 500%;
        // @include red;
        border-radius: 40%;
        @include centering;

        transition: transform 0.8s ease-out;

        .selection-area {
            z-index: inherit;
            width: 70%;
            height: 70%;
            border-radius: 50%;
            // border: 1px dashed brown;
            cursor: pointer;
        }
    }
    .outer1 {
        width: 100%;
        height: 100%;
        @include centering;
        // @include red;
        transition: inherit;

        .outer2 {
            width: 100%;
            height: 100%;
            border: 2px solid $themeGreen;
            transform: rotate(45deg);
        }

        .inner {
            position: absolute;
            @include centering;
            width: 20px;
            height: 20px;
            // font-size: 300px;
            color: $themeGreen;
            // @include red;
            transition: inherit;
            // perspective-origin:
        }
    }
}
.diamond-btn.hide {
    transform: scale(0);
    opacity: 0;
}
