@import "../variable.scss";

$ratio: $windowWidth / $windowHeight;

#index-contain {
    height: 100%;
    // position: relative;
    border: 2px dashed lightcoral;
    margin: 0 90px;
    min-height: 0;
    background-image: url(../../public/img/bg-pattern.png);
    background-color: rgb(243, 245, 239);
    @include centering;

    .invisible-screen {
        width: 100vw;
        height: 100vh;
        position: absolute;
        overflow: scroll;
    }

    .invisible-screen.based-width {
        width: 100vw;
        height: 100vw / $ratio;
    }

    .invisible-screen.based-height {
        height: 100vh;
        width: 100vh * $ratio;
    }

    .mid-line {
        height: 100%;
        width: 0px;
        border: 1px dashed;
        position: absolute;
        left: 50%;
    }
}
