@import "../variable.scss";

@mixin progressBar {
    .progress-bar {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100vw - 180px);
        height: calc(100vh - 180px);
        .bar {
            height: 4px;
            width: 0%; // default width for progress bar is zero .
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $themeGreen;
            transition: all 1s cubic-bezier(0.43, 0.195, 0.02, 1);
        }
    }
}
