@import "../variable.scss";

#top-nav-bar {
    position: relative;
    z-index: 3;
    height: 90px;
    flex-shrink: 0;
    @include centering;
    // border: 1px solid blue;

    // background-color: white;
    // gap: 18px;
    gap: 0;
    .nav-item {
        z-index: 1;
        height: 100%;
        padding: 0 30px;
        white-space: nowrap;
        display: table-cell;
        cursor: pointer;
        @include centering;

        font-family: myRationalBold;
        font-size: 14px;
        color: $themeGreen;
        transition: color 0.1s ease-out;
        &:hover {
            color: rgb(37, 124, 65);
        }

        border-radius: 8px;
        // box-shadow: 0 0 5px -4px;
        user-select: none;
    }
    .nav-item.wait {
        cursor: progress;
    }

    .underline {
        background-color: $themeGreen;
        transition: all 0.7s cubic-bezier(0.15, 0.99, 0.29, 1.01);
        position: fixed;
        height: 4px;
        border-radius: 2px;
        opacity: 0.9;
    }
}
