@import "../variable.scss";

#home-1-contain {
    width: 100%;
    height: 100%;
    @include centering;
    @include red;

    img {
        // border: 1px solid orange;
        position: absolute;
    }

    .titleTxt {
        @include red;
        font-size: 65px;
        color: $themeGreen;
        font-family: myRational;
        transition: all 0.8s cubic-bezier(0.43, 0.195, 0.02, 1);
    }
    .titleTxt.txt-up {
        transform: translateY(-20vh);
    }

    .overflow-contain {
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all 500ms linear;

        img {
            // transform: translateY(0px);
            // transition: all 500ms cubic-bezier(0.28, -0.51, 0.52, 1.66);
        }
        .lb1.up {
            transform: translateY(-100vh) translateZ(0);
        }

        .lb1 {
            transition: transform 1s cubic-bezier(0.49, 0.01, 0.27, 1);
            // transition: transform 1s cubic-bezier(0.43, 0.195, 0.02, 1);
            width: 290px;
            bottom: 70px;
            left: 40px;
        }
        .lb2 {
            width: 270px;
            bottom: 80px;
            left: 364px;
        }
        .lt1 {
            width: 300px;
            height: 260px;
            top: 5px;
            left: 155px;
        }
        .lt2 {
            left: 536px;
            top: 115px;
            width: 125px;
            height: 58px;
            z-index: 1;
        }
        .rt1 {
            right: 153px;
            top: 85px;
            height: 250px;
            width: 190px;
        }
        .rt2 {
            right: 435px;
            top: 85px;
            height: 170px;
        }
        .bm {
            left: 672px;
            bottom: 200px;
            height: 60px;
        }
        .rb1 {
            right: 16px;
            bottom: -20px;
            height: 320px;
        }
        .rm {
            right: 286px;
            bottom: 337px;
            width: 80px;
        }
        .rb2 {
            right: 593px;
            bottom: 123px;
            width: 82px;
            height: 75px;
        }
        .lm {
            left: 230px;
            bottom: 340px;
            width: 120px;
        }
    }
    .clip-contain {
        position: absolute;
        height: 100%;
        width: 100%;
        clip: rect(90px, $windowWidth - 90px, $windowHeight - 90px, 90px);
    }
}

@keyframes titleAni {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-165px);
    }
}
