@import "../variable.scss";
@import "./home-title.scss";
@import "../Global/progress-bar.scss";
@import "./page1.scss";
@import "./page2.scss";
@import "./page3.scss";
@import "./page4.scss";
@import "./page5.scss";

//cubic-bezier(0.23, 1, 0.32, 1)
//cubic-bezier( 0.49, 0.01, 0.27, 1 )

#home-contain-contain {
    .invisible-screen {
        position: absolute;
        z-index: 0;
        width: 100vw;
        height: 100vh;
        overflow: visible;
        @include centering;
        // border: 2px dashed seagreen;

        #home-contain {
            // .hahadiv {
            //     --st: 20px;
            //     width: 30px;
            //     height: 30px;
            //     background-color: var(--ccc);
            //     position: relative;
            //     left: var(--st, 20px);
            //     right: 20px;
            //     transition: all 0.3s ease;
            // }
            z-index: 0;
            position: relative;
            flex-shrink: 0;

            @include maxSize;
            @include home-title;
            @include progressBar;
            @include centering;

            --rotateX: 0deg;
            --rotateY: 0deg;
            --percentX: 50%;
            --percentY: 50%;

            img {
                transition: all 1.2s 0.05s cubic-bezier(0.43, 0.195, 0.02, 1);
            }

            .clip-contain,
            .clip-top-contain,
            .clip-bottom-contain,
            .overflow-contain {
                position: absolute;
                @include maxSize;
                // z-index: 0;
                // @include red;
            }
            .clip-top-contain {
                // border: 2px dashed pink;
                clip: rect(90px, 2999px, 100vh, 0);
            }
            .clip-bottom-contain {
                // border: 2px dashed red;
                clip: rect(0, 2999px, calc(100vh - 90px), 0);
            }
            .clip-contain {
                // border: 2px dashed blue;
                clip: rect(90px, 2999px, calc(100vh - 90px), 0);
            }
            @media screen and (max-width: 768px) {
                // #home-contain-contain {
                //     .invisible-screen {
                .clip-top-contain {
                    // border: 2px dashed pink;
                    clip: rect(30px, 2999px, 100vh, 0) !important;
                }
                .clip-bottom-contain {
                    // border: 2px dashed red;
                    clip: rect(0, 2999px, calc(100vh - 30px), 0) !important;
                }
                .clip-contain {
                    // border: 2px dashed blue;
                    clip: rect(30px, 2999px, calc(100vh - 30px), 0) !important;
                }
                //     }
                // }
            }
            [class^="page-sub"] {
                position: absolute;
            }
            @include page1;
            @include page2;
            @include page3;
            @include page4;
            @include page5;

            .translate-minus5 {
                translate: 0 -5 * 100vh;
                // transform: translateY(-5 * 100vh);
            }
            .translate-minus4 {
                translate: 0 -4 * 100vh;
            }
            .translate-minus3 {
                translate: 0 -3 * 100vh;
            }
            .translate-minus2 {
                translate: 0 -2 * 100vh;
            }
            .translate-minus1 {
                translate: 0 -1 * 100vh;
            }
            .translate-0 {
                translate: 0 0;
            }
            .translate-plus1 {
                translate: 0 1 * 100vh;
            }
            .translate-plus2 {
                translate: 0 2 * 100vh;
            }
            .translate-plus3 {
                translate: 0 3 * 100vh;
            }
            .translate-plus4 {
                translate: 0 4 * 100vh;
            }
            .translate-plus5 {
                translate: 0 5 * 100vh;
            }
        }
    }

    $ratio: $windowWidth / $windowHeight;
    .invisible-screen.based-width {
        width: 100vw;
        height: 100vw / $ratio;
        // border: 2px dashed pink;
    }

    .invisible-screen.based-height {
        height: 100vh;
        width: 100vh * $ratio;
        // border: 2px dashed pink;
    }
}
