@import "../variable.scss";

@mixin page3 {
    .page-sub3 {
        @include maxSize;
        $trans1: translate 1.27s 0.1s cubic-bezier(0.43, 0.195, 0.02, 1);

        transition: perspective-origin 0.5s cubic-bezier(0.23, 1, 0.32, 1); // 这一行是用在 perspective-origin 上的
        perspective: 100vh;
        perspective-origin: calc(75% - var(--percentX, 50%))
            calc(75% - var(--percentY, 50%));

        img {
            position: absolute;
            // transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        }
        // middle
        .bk {
            // transition: translate 1.25s 0.08s cubic-bezier(0.43, 0.195, 0.02, 1);
            // transition: translate 1.3s 0.15s cubic-bezier(0.43, 0.195, 0.02, 1);
            transition: $trans1;

            width: 60%;
            left: 8.1%;
            top: 18.7%;
            // border: 1px dashed red;

            transform: translateZ(-55px);
        }
        .ground {
            // transition: translate 1.3s 0.09s cubic-bezier(0.43, 0.195, 0.02, 1);
            transition: $trans1;

            width: 45%;
            top: 38%;
            left: 16%;
            // border: 1px dashed red;

            transform: translateZ(-15px) rotateX(40deg) scale(1, 0.3); // 这里的 scale 是灵魂
        }
        .pepper1 {
            z-index: 2;
            width: 22%;
            left: 26%;
            top: 33%;
            transform: translateZ(-14px);
        }
        .pepper2 {
            z-index: 1;
            width: 21.5%;
            left: 13.6%;
            top: 49.1%;
            transform: translateZ(-19px);
        }
        .leaf5 {
            width: 7.9%;
            left: 32.1%;
            top: 72.1%;
            transform: translateZ(13px);
        }
        // upper
        .leaf1 {
            left: 29%;
            top: 7.9%;
            transform: translateZ(-10px) rotateY(calc(0.6 * var(--rotateX)));
        }
        // .leaf1 {
        //     transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        //     left: 37.5%;
        //     top: 8%;
        //     transform: rotateY(calc(-1 * var(--rotateY))) rotateY(85deg)
        //         translateZ(-140px);
        // }
        .leaf2 {
            left: 39%;
            top: 13.9%;
            transform: rotateY(calc(-0.8 * var(--rotateX))) translateZ(-19px)
                scale(0.45) rotate(10deg) rotateX(180deg);
        }
        .leaf3 {
            left: 18.7%;
            top: 21%;
            transform: rotateY(calc(0.4 * var(--rotateX))) translateZ(14px);
        }
        .leaf4 {
            left: 45.5%;
            top: 29%;
            transform: translateZ(5px);
        }
        // lower part
        .bigTofu {
            // opacity: 0.7;
            z-index: 0;
            width: 20.5%;
            left: 13.5%;
            top: 71%;
            transform: translateZ(-5px);
        }
        .pepper3 {
            width: 21.5%;
            left: 36.9%;
            top: 71.5%;
            transform: translateZ(7px);
        }
        .tofu1 {
            z-index: 2;
            width: 4.3%;
            left: 9.8%;
            top: 78%;
            transform: translateZ(7px);
        }
        .tofu2 {
            z-index: 1;
            width: 4.7%;
            left: 13.8%;
            top: 77%;
            transform: translateZ(4px);
        }
        .tofu3 {
            z-index: 1;
            width: 5.5%;
            left: 19.3%;
            top: 78.4%;
            transform: translateZ(9px);
        }
        .tofu4 {
            z-index: 2;
            width: 5%;
            left: 13.3%;
            top: 80%;
            transform: translateZ(12px);
        }
    }
}
